p{
    color: white;
}

h2{
    color: white;
}

.container{
    background-color: rgba(0, 0, 0, 0.2);
    width: 57%;
    border-radius: 15px;
    border: 1px solid red;
    justify-content: center;
}

hr{
    color: white;
    margin: 5px;
}

.thumbnail{
    width: 90%;
    border-radius: 15px;
    align-self: center;
    padding-inline: 5%;

}

.outer-container{
    display: flex;
    justify-content: center;
}